a{
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
}

div>p
{
    color:coral;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1
{
    color:#fff;
    font-size:48px;
}

.weight
{
    color:#fff;
    font-weight:bold;
}

.family
{
    color:#fff;
    font-style:italic;
}

.Align
{
    text-align:right;
    color: #fff;
}
